*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(65, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header{
  background-color: #404EED;
  display: flex;
  color: white;
  justify-content: center;
  height: 82px;
}

.container-nav{
  background-color: #5461ee;
  display: flex;
  align-self: center;
  text-align: center;
  
}

.logo{
  display: inline-flex;
  border: 1px solid  #1d2dda;
  padding: 15px;
  width: 250px;
}

.nav{
  display: inline-flex;
  justify-content: space-evenly;
  border: 1px solid #1d2dda;
  padding: 15px;
  width: 750px;
  }

  .login{
    display: inline-flex;
    border: 1px solid #1d2dda;
    padding: 15px;
    width: 250px;
  }

li{ 
  display: inline-flex;
  justify-content: space-between;
}

/*jumbotron*/
.jumbotron{
  height: 520px;
  display: flex;
  justify-content: center;
  background-color: #4c59e2;
}

.welcome{
  height: 415px;
  width: 943px;
  background-color: #3443e2;
  align-self: center;
}

.separate{
  height: 4px;
  background-color: #1d2dda;
  display: flex;
}

/*Container principali*/
.container1{
  background-color: rgb(233, 233, 233);
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2{
  background-color: rgb(197, 197, 197);
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3{
  background-color: rgb(233, 233, 233);
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Interno conteiner 1-2-3 */
/* 1 */
.img1-1{
  background-color: #404EED;
  width: 750px;
  height: 520px;
}

.img2-1{
  background-color: #6771e4;
  width: 500px;
  height: 520px;
}

/* 2 */
.img1-2{
  background-color: #6771e4;
  width: 500px;
  height: 520px;
}

.img2-2{
  background-color: #404EED;
  width: 750px;
  height: 520px;
}

/* 3 */
.img1-3{
  background-color: #404EED;
  width: 750px;
  height: 520px;
}

.img2-3{
  background-color: #6771e4;
  width: 500px;
  height: 520px;
}

/* Container Big */
.container-big{
  background-color: rgb(197, 197, 197);
  height: 1040px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-big{
  background-color: #404EED ;
  height: 935px;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*footer*/

/* menu */
.container-menu{
  background-color: rgb(100, 100, 100);
  height: 655px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  background-color: rgb(161, 161, 161);
  height: 600px;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social{
  background-color: #404EED ;
  border: 1px solid rgb(112, 139, 226);
  height: 600px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-1,.menu-2,.menu-3,.menu-4{
  background-color: rgb(83, 118, 233);
  border: 1px solid rgb(112, 139, 226);
  height: 600px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}